* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #121212;
    --background-alt: #1c1c1cb0;
    --text: #fafafa;
    --title:#F5AE73;
    --accent: #8F0D0D;
    --accent-secondary:#D38647;
}

html {
    background-color: var(--background);
    color: var(--text);
    font-family: "Kanit", monospace;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
main {
    padding: 2.5rem;
    align-content: start;
}

main {
    flex: 1;
}


header h1 {
    font-size: 10em;
    background: url(images/logo-inline-white.svg) no-repeat center center;
    background-size: contain;
    text-indent: -9999px;
}

header div {
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
    margin-top: 2em;
}

header span {
    display: block;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

nav a {
    font-weight: bold;
    color: var(--accent);
}

main #docs div h2,
main h1 {
    color: var(--title);
    text-align: center;
}

main h1 {
    font-size: 2em;
}

main h2 {
    font-size: 1.5em;
}

#quicklinks {
    text-align: center;
    margin-bottom: 5rem;
}

#quicklinks .btn {
    padding: 1rem 1.5rem;
    display: inline-block
}

#quicklinks a:first-child {
    background-color: var(--text);
    color: var(--background);
    margin-right: 4rem;
}
#quicklinks a:last-child {
    background-color: var(--accent);
    color: var(--text);
}
#quicklinks a:before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    
}

#quicklinks a:first-child::before {
    background: url("images/github.png") no-repeat center center;
    background-size: 100% 100%;
}

#quicklinks a:last-child::before {
    background: url("images/project.png") no-repeat center center;
    background-size: 100% 100%;
}


main #docs  .expandable input {
    padding: 0;
    margin: 0;
    appearance: none;
    outline: none;
    pointer-events: none;
}

main #docs  .expandable:has(:not(input.rtb:checked)) ~ .content.rtb div, 
main #docs  .expandable:has(:not(input.rtb:checked)) ~ .content.rtb nav,
main #docs  .expandable:has(:not(input.pb:checked)) ~ .content.pb div,
main #docs  .expandable:has(:not(input.pb:checked)) ~ .content.pb nav,
main #docs  .expandable:has(:not(input.capitolato:checked)) ~ .content.capitolato div,
main #docs  .expandable:has(:not(input.capitolato:checked)) ~ .content.capitolato nav {
    transition: opacity .25s,
                font-size .5s .25s,
                margin .5s .25s,
                padding .5s .25s;
}

main #docs  .expandable:has(input.rtb:checked) ~ .content.rtb div,
main #docs  .expandable:has(input.rtb:checked) ~ .content.rtb nav,
main #docs  .expandable:has(input.pb:checked) ~ .content.pb div,
main #docs  .expandable:has(input.pb:checked) ~ .content.pb nav,
main #docs  .expandable:has(input.capitolato:checked) ~ .content.capitolato div,
main #docs  .expandable:has(input.capitolato:checked) ~ .content.capitolato nav {
    font-size: initial;
    opacity: initial;
    margin-bottom: 2.5em;
    padding: 1em;
    transition: font-size .25s,
                margin .25s,
                padding .25s,
                opacity .5s .25s;
}

main .section {
    display: block;
    width: 100%;
    letter-spacing: .2em;
    font-size: 2em;
    color: var(--text);
    padding: 1rem 1rem 1rem 0;
    font-weight: 700;
    user-select: none;
    border-bottom: 5px var(--accent) solid;
    position: relative;
    margin: 1em auto 0;
}

main .expandable {
    cursor: pointer;
}

main .expandable:hover:after{
    content:'';
    float: right;
    width: 45px;
    height: 45px;
    background-image: url(images/image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform-origin: center;
    animation: hand 1s ease-in-out infinite;
    position: absolute;
    right: 0;
    bottom: 20px;

}

main #docs  a {
    position: relative;
    white-space: nowrap;
}

main a:hover {
    text-decoration: underline;
}

main a.anim:hover:after{
    content:'';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(images/image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform-origin: center;
    animation: hand 1s ease-in-out infinite;
    position: absolute;
    right: -30px;
    bottom: 13px;
}

@keyframes hand {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(15deg);
    }
    70% {
        transform: rotate(-50deg);
    }
    90%,100%{
        transform: rotate(-30deg);
    }
}

main .content {
    padding: 0em 1em;
    overflow: hidden;
}

.center {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

main .content nav{
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
}

main #docs .content div {
    background-color: var(--background-alt);
    border-radius: 5px;
    scroll-margin-top: 7em;
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
}

main ul {
    font-size: 1.15em;
    padding-left: 5em;
    padding-right: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.baseline-nav {
    margin-bottom: 3rem;
    text-align: center;
}

.baseline-nav ul{
    margin: 0;
}

.baseline-nav ul li {
    list-style-type: none;
}

.baseline-nav ul li::marker {
    content: "";
}

.baseline-nav ul li a {
    color: white;
    text-decoration: underline;
}


li {
    margin-bottom: .6em;
    margin-top: .5em;
}

li span {
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;
    float: inline-end;
}

li span::before {
    content: "V";
}

main li::marker {
    content: "» ";
}

a {
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .2em;
    padding-top: .2em;
    border-radius: 5px;
    transition-duration: .5s;
    text-decoration: none;
}

main a {
    color: var(--accent-secondary);
}


nav a:hover {
    color: var(--text);
    background-color: var(--accent);
}

#docs {
    margin-bottom: 5rem;
}

#who h2 {
    font-size: 2.3rem;
    margin-bottom: 3rem;
}

#who {
    text-align: center;
}

#members {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    row-gap: 5rem;
    column-gap: 2rem;
}
#members a {
    font-size: .8rem;
}

.member img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

footer {
    text-align: center;
    background-color: var(--background-alt);
}

footer p {
    padding: 2em;
    font-style: italic;
}

@media screen and (max-width:900px) {
    #members {
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width:570px) {

    header h1 {
        background: url(images/logo-block-white.svg) no-repeat center center;
    }
    main ul {
        padding: 0 1rem;
    }
    li {
        text-align: center;
        list-style-position: inside;
        margin-left: 0;
        margin-right: 0;
    }
    li span {
        display: block;
        text-align: center;
        float: none;
    }

    #members {
        grid-template-columns: repeat(1,1fr);
    }
}