/* STILI COMUNI A TUTTE LE PAGINE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

html, body {
    height: 100%;
}