name: Compile check LaTeX
on:
  pull_request:
    branches: 
      - main
      - 'docs/**'
jobs:
  test-build:
    if: ${{ github.head_ref != 'main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Find modified LaTeX files
        id: find
        run: |
          git remote set-branches --add origin main
          git fetch
          changed_files=$(git diff --name-only origin/$GITHUB_BASE_REF | grep '.tex$') || true
          changed_document=$(echo "$changed_files" | cut -d/ -f1-4 | uniq) 

          echo "${changed_document[*]}"

          while IFS= read -r line; do
          document=$(basename "$line")
          if [[ "$GITHUB_HEAD_REF" == *"$document"* ]]; then
              c_doc="$line"

          fi
          done <<< "$changed_document"

          echo "doc=$c_doc" >> $GITHUB_OUTPUT
      - name : Install dependencies
        run: |
          if [ -n "${{ steps.find.outputs.doc }}" ]; then
            sudo apt-get update 
            sudo apt install -y \ 
            texlive \
            texlive-latex-extra \
            texlive-lang-italian
          fi
      - name: Compile the modified LaTeX file
        run: |
          if [ -n "${{ steps.find.outputs.doc }}" ]; then
            directory="${{ steps.find.outputs.doc }}"
            cd "$directory"
            pdflatex main.tex        
          fi
